// @import 'reset';
// @import 'components.dashboard';
// @import 'components.users-list';

.nuxt-link-exact-active {
    color: #000;
}

mark {
    background: #f6e0ad !important;
}

.v-calendar .input-field input {
    height: 30px !important;
    padding-right: 0 !important;
}